.contactCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  gap: 30px;
  width: 290px;
}

.contactItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userDesc {
  padding: 0;
  margin: 0;
}

.userDesc,
.userTel {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.userIcon,
.telIcon {
  fill: black;
}

.delBtn {
  width: 60px;
  height: 24px;
}
