.contactCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  width: 280px;
}

.contactItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.contFields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userDesc {
  padding: 0;
  margin: 0;
}

.userDesc,
.userTel {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.userIcon,
.telIcon {
  fill: black;
}

.btnCont {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.delBtn,
.editBtn {
  width: 60px;
  height: 24px;
  cursor: pointer;
}
